
.shape {
  height: 300px;
  width: 300 px;
  color: black;
  border: 2px solid;
  border-radius: 25px;
  margin: 30px;
  padding:75px;
  text-align: center;
  background-color: rgba(84, 90, 99, 0.795);
}


// #one {
//   height: 500px;
//   background-color: grey;
//   border:2px solid black;
//   border-radius: 25px;
//   margin: 100px;
//   text-align: center;
  
// }





